// Here you can add other styles
.react-calendar {
    width: 500px;
    color: #F5A623!important;
}

.histo {
    text-align: center;
}

.map-lx {
    top: 10px;
    display: auto;
    margin: auto;
    width: 200px;
    height: 200px;
}

.map-card {
    width: 250px
}

.type-pollen-card {
    width: 300px;
}

.type-pollen-img {
    width: 300px;
    height: 150px;
}
